.sectionFour{
        margin-top: 50px;
        width: 100%;
        height: auto;
        background-color: #F9F9F9;
    &-row{
        padding:  50px 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__panel{
            width: 1273px;
            height: 364px;
            background-color: #fff;


            &-title{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 70px;
                font-family: "Montserrat" sans-serif;
                font-weight: 400;
                font-size: 36px;
                line-height: 20px;

                @include media(700){
                    line-height: 90%;
                    font-size: 24px;
                }

                @include media(550){
                    font-size: 16px;
                }
            }

            &-subtitle{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-top: 40px;
                font-family: "Montserrat" sans-serif;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;

                @include media(700){
                    font-size: 14px;
                }

                @include media(550){
                    font-size: 10px;
                }
            }

            &-form{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 70px;
            }

            &-input{
                width: 354px;
                height: 56px;
                background-color: #F9F9F9;
                padding: 20px;

                @include media(750){
                    width: 230px;
                }

                @include media(500){
                    width: 150px;
                }
            }

            &-button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height:56px;
                padding: 16px, 32px, 16px, 32px; 
                gap: 10px;           
                background-color: #2A254B;

                @include media(750){
                    width: 80px;
                    height: 38px;
                }

                @include media(500){
                    width: 60px;
                    height: 29px;
                }
            }

            &-btn{
                font-family: "Montserrat" sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;  
                color: #F9F9F9;

                @include media(500){
                    font-size: 12px;
                }
            }
        }
    }
}